:root {
    --background-color:#acd3f2;
    --background-second: rgb(223, 217, 217);
    --black: black;
    --outline-color: rgb(127, 165, 236);
}

html {
    background-color: var(--background-color);
    color: var(--black);
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;   
    margin: 10vh 0px; 
    font-size: 2.5rem;
}

main {
    width: 30vw;
    margin: auto auto;    
}

label, input {
    display: block;
    margin: 0.5rem 0rem;
    font-size: 1.3rem;
    width: 100%
}

input {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: var(--background-second);
    font-size: large;
}

#check-button {
    font-size: large;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    background-color: var(--background-color);
    color: var(--black);
    border-radius: 5px;
    border-color: var(--outline-color);
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
  
footer p {
    font-size: large;
    color: var(--black);
    font-weight: bold;
}
  

  
a,
img,
li {
    color: white;
    display: inline;
}
  
img {
    width: 30px;
    height: 30px;
    padding: 0.2rem;
}